$icomoon-font-path: "fonts" !default;

$kentikons-paper-plane: "\e906";
$kentikons-pager-duty: "\e909";
$kentikons-json: "\e905";
$kentikons-kentik-logo: "\e904";
$kentikons-dev_nprobe_dns: "\e908";
$kentikons-sankey: "\e907";
$kentikons-intersection: "\e608";
$kentikons-flow-dots: "\e60f";
$kentikons-flow-random: "\e611";
$kentikons-dot-plot: "\e612";
$kentikons-area-plot: "\e614";
$kentikons-comparison: "\e637";
$kentikons-table: "\e667";
$kentikons-dot-corner: "\e66d";
$kentikons-trend: "\e67e";
$kentikons-pie: "\e684";
$kentikons-stacked-area: "\e6cd";
$kentikons-donut: "\e6ce";
$kentikons-uniE6D2: "\e6d2";
$kentikons-flow-center: "\e6d3";
$kentikons-dots-triangle: "\e6d4";
$kentikons-matrix: "\e6f3";
$kentikons-gant: "\e6f4";
$kentikons-vertical-bar: "\e70c";
$kentikons-line: "\e70f";
$kentikons-dummy-bars: "\e71c";
$kentikons-stacked-bar: "\e722";
$kentikons-line-bars: "\e727";
$kentikons-flow-enter: "\e736";
$kentikons-tables: "\e738";
$kentikons-scatter: "\e73e";
$kentikons-scatter-plot: "\e758";
$kentikons-dev_host: "\e900";
$kentikons-dev_port: "\e901";
$kentikons-dev_router: "\e902";
$kentikons-dev_switch: "\e903";

