@font-face {
  font-family: 'kentikons';
  src:
    url('fonts/kentikons.ttf?zg18jm') format('truetype'),
    url('fonts/kentikons.woff?zg18jm') format('woff'),
    url('fonts/kentikons.svg?zg18jm#kentikons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="kentikons-"], [class*=" kentikons-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'kentikons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kentikons-paper-plane:before {
  content: "\e906";
}
.kentikons-pager-duty:before {
  content: "\e909";
}
.kentikons-json:before {
  content: "\e905";
}
.kentikons-kentik-logo:before {
  content: "\e904";
}
.kentikons-dev_nprobe_dns:before {
  content: "\e908";
}
.kentikons-sankey:before {
  content: "\e907";
}
.kentikons-intersection:before {
  content: "\e608";
}
.kentikons-flow-dots:before {
  content: "\e60f";
}
.kentikons-flow-random:before {
  content: "\e611";
}
.kentikons-dot-plot:before {
  content: "\e612";
}
.kentikons-area-plot:before {
  content: "\e614";
}
.kentikons-comparison:before {
  content: "\e637";
}
.kentikons-table:before {
  content: "\e667";
}
.kentikons-dot-corner:before {
  content: "\e66d";
}
.kentikons-trend:before {
  content: "\e67e";
}
.kentikons-pie:before {
  content: "\e684";
}
.kentikons-stacked-area:before {
  content: "\e6cd";
}
.kentikons-donut:before {
  content: "\e6ce";
}
.kentikons-uniE6D2:before {
  content: "\e6d2";
}
.kentikons-flow-center:before {
  content: "\e6d3";
}
.kentikons-dots-triangle:before {
  content: "\e6d4";
}
.kentikons-matrix:before {
  content: "\e6f3";
}
.kentikons-gant:before {
  content: "\e6f4";
}
.kentikons-vertical-bar:before {
  content: "\e70c";
}
.kentikons-line:before {
  content: "\e70f";
}
.kentikons-dummy-bars:before {
  content: "\e71c";
}
.kentikons-stacked-bar:before {
  content: "\e722";
}
.kentikons-line-bars:before {
  content: "\e727";
}
.kentikons-flow-enter:before {
  content: "\e736";
}
.kentikons-tables:before {
  content: "\e738";
}
.kentikons-scatter:before {
  content: "\e73e";
}
.kentikons-scatter-plot:before {
  content: "\e758";
}
.kentikons-dev_host:before {
  content: "\e900";
}
.kentikons-dev_port:before {
  content: "\e901";
}
.kentikons-dev_router:before {
  content: "\e902";
}
.kentikons-dev_switch:before {
  content: "\e903";
}

